@model ItensDePacotes
@{
    ViewData["Title"] = "Editar Itens de Pacotes";
}
<style>
    fade-in-out {
        animation: fadeInOut 3s ease-in-out;
    }

    @@keyframes fadeInOut {
        0% {
            opacity: 0;
        }

        10% {
            opacity: 1;
        }

        90% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .error-fade-in-out {
        animation: errorFadeInOut 3s ease-in-out;
    }

    @@keyframes errorFadeInOut {
        0% {
            opacity: 0;
        }

        10% {
            opacity: 1;
        }

        90% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
</style>
<h5 style="margin-left: 11%">@ViewData["Title"]</h5>
<hr />
<div class="container" style="margin-left: 7%">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success">
                            @TempData["SuccessMessage"]
                        </div>
                    }
                    else if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                    <form asp-action="Edit">
                        <div class="form-group" style="display:none">
                            <label asp-for="ItensDePacotesID">ID</label>
                            <input asp-for="ItensDePacotesID" class="form-control" value="@ViewBag.ItemDePacote.ItensDePacotesID" />
                            <span asp-validation-for="ItensDePacotesID" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Descricao">Descrição</label>
                            <input asp-for="Descricao" class="form-control" value="@ViewBag.ItemDePacote.Descricao" />
                            <span asp-validation-for="Descricao" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Quantidade">Quantidade</label>
                            <input asp-for="Quantidade" class="form-control" value="@ViewBag.ItemDePacote.Quantidade" />
                            <span asp-validation-for="Quantidade" class="text-danger"></span>
                        </div>

                        <label asp-for="PacoteID">Pacote</label>
                        <select asp-for="PacoteID" class="form-control">
                            @foreach (var pacote in ViewBag.Pacotes)
                            {
                                var isSelected = pacote.PacoteID == ViewBag.Pacote.PacoteID ? "selected" : "";

                                if (isSelected == "selected")
                                {
                                    <option value="@pacote.PacoteID" selected>
                                        @pacote.Titulo
                                    </option>
                                }
                                else
                                {
                                    <option value="@pacote.PacoteID">
                                        @pacote.Titulo
                                    </option>
                                }
                            }
                        </select>
                        <hr />
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Verifica se há uma mensagem de sucesso
        var successMessage = $(".alert.alert-success");

        // Se houver uma mensagem de sucesso, inicie a animação de fade-in e depois fade-out
        if (successMessage.length > 0) {
            successMessage.addClass("fade-in-out");
            setTimeout(function () {
                successMessage.removeClass("fade-in-out").fadeOut(500);
            }, 3000); // 3000 milissegundos (3 segundos)
        }

        // Verifica se há uma mensagem de erro
        var errorMessage = $(".alert.alert-danger");

        // Se houver uma mensagem de erro, inicie a animação de fade-in e depois fade-out
        if (errorMessage.length > 0) {
            errorMessage.addClass("error-fade-in-out");
            setTimeout(function () {
                errorMessage.removeClass("error-fade-in-out").fadeOut(500);
            }, 3000); // 3000 milissegundos (3 segundos)
        }
    });
</script>