@model PacotesDeUsuarios
@{
    ViewData["Title"] = "Editar Pacotes De Usuários";
}
<style>
    fade-in-out {
        animation: fadeInOut 3s ease-in-out;
    }

    @@keyframes fadeInOut {
        0% {
            opacity: 0;
        }

        10% {
            opacity: 1;
        }

        90% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .error-fade-in-out {
        animation: errorFadeInOut 3s ease-in-out;
    }

    @@keyframes errorFadeInOut {
        0% {
            opacity: 0;
        }

        10% {
            opacity: 1;
        }

        90% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
</style>
<h5 style="margin-left: 11%">@ViewData["Title"]</h5>
<hr />
<div class="container" style="margin-left: 7%">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success">
                            @TempData["SuccessMessage"]
                        </div>
                    }
                    else if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                    <form asp-action="Edit">
                        <div class="form-group" style="display:none">
                            <label asp-for="PacotesDeUsuariosID">ID</label>
                            <input asp-for="PacotesDeUsuariosID" class="form-control" value="@ViewBag.PacoteDeUsuario.PacotesDeUsuariosID" />
                            <span asp-validation-for="PacotesDeUsuariosID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FornecedorID">Fornecedor</label>
                            <select asp-for="FornecedorID" class="form-control">
                                @foreach (var fornecedor in ViewBag.Fornecedores)
                                {
                                    var isSelected = fornecedor.FornecedorID == ViewBag.Fornecedor.FornecedorID ? "selected" : "";

                                    if (isSelected == "selected")
                                    {
                                        <option value="@fornecedor.FornecedorID" selected>
                                            @fornecedor.Nome
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="@fornecedor.FornecedorID">
                                            @fornecedor.Descricao
                                        </option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="FornecedorID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Titulo">Titulo</label>
                            <input asp-for="Titulo" class="form-control" value="@ViewBag.PacoteDeUsuario.Titulo" />
                            <span asp-validation-for="Titulo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Preco">Preco</label>
                            <input type="text" asp-for="Preco" class="form-control" oninput="RetiraPonto('inputPrecoPacote')" value="@string.Format("{0:N2}", @ViewBag.PacoteDeUsuario.Preco)" />
                            <span asp-validation-for="Preco" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="QtdMaximaDeEventosDia">Quantidade Máxima de Eventos por Dia</label>
                            <input asp-for="QtdMaximaDeEventosDia" class="form-control" value="@ViewBag.PacoteDeUsuario.QtdMaximaDeEventosDia" />
                            <span asp-validation-for="QtdMaximaDeEventosDia" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="QtdMaximaDePessoas">Quantidade Máxima de Pessoas</label>
                            <input asp-for="QtdMaximaDePessoas" class="form-control" value="@ViewBag.PacoteDeUsuario.QtdMaximaDePessoas" />
                            <span asp-validation-for="QtdMaximaDePessoas" class="text-danger"></span>
                        </div>
                        <hr />
                        <!-- Adicione outros campos relevantes aqui, se necessário -->
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Verifica se há uma mensagem de sucesso
        var successMessage = $(".alert.alert-success");

        // Se houver uma mensagem de sucesso, inicie a animação de fade-in e depois fade-out
        if (successMessage.length > 0) {
            successMessage.addClass("fade-in-out");
            setTimeout(function () {
                successMessage.removeClass("fade-in-out").fadeOut(500);
            }, 3000); // 3000 milissegundos (3 segundos)
        }

        // Verifica se há uma mensagem de erro
        var errorMessage = $(".alert.alert-danger");

        // Se houver uma mensagem de erro, inicie a animação de fade-in e depois fade-out
        if (errorMessage.length > 0) {
            errorMessage.addClass("error-fade-in-out");
            setTimeout(function () {
                errorMessage.removeClass("error-fade-in-out").fadeOut(500);
            }, 3000); // 3000 milissegundos (3 segundos)
        }
    });
</script>