@page
@{
    
}

<!DOCTYPE html>
<html>
<head>
    <title>Usuários</title>
</head>
<body>
    <div class="container mt-4" style="margin-left:10%">
        <h2>Usuários</h2>
        <div class="card shadow">
            <div class="card-body">
                <div class="table-responsive">
                    <a href="/Usuarios/Create" class="btn btn-primary btn-sm float-right" style="margin-left: 5%;">
                        <i class="fas fa-plus"></i> Novo
                    </a>
                    <table id="listagem" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Seleção</th>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Tipo</th>
                                <th>Nascimento</th>
                                <th>CPF</th>
                                <th>Telefone</th>
                                <th>Cidade</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var usuario in ViewBag.UsuariosSistema)
                                {
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="selecao[]" value="@usuario.UsuarioSistemaID">
                                        </td>
                                        <td>@usuario.UsuarioSistemaID</td>
                                        <td>@usuario.Nome</td>
                                        <td>@usuario.Email</td>
                                        <td>
                                            @if (usuario.Status)
                                            {
                                                <span class="badge badge-success">Ativo</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-danger">Inativo</span>
                                            }
                                        </td>
                                        <td>@usuario.Tipo</td>
                                        <td>@usuario.DataNascimento.ToString("dd/MM/yyyy")</td>
                                        <td>@usuario.CPF</td>
                                        <td>@usuario.Telefone</td>
                                        <td>@usuario.Cidade.Nome</td>
                                        <td>
                                            <a href="/Usuarios/Edit/@usuario.UsuarioSistemaID" class="btn btn-primary btn-sm">
                                                <i class="fas fa-edit"></i> Editar
                                            </a>
                                            <button class="btn btn-danger btn-sm delete-button" data-usuario-id="@usuario.UsuarioSistemaID">
                                                <i class="fas fa-trash"></i> Excluir
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="confirmDeleteModal" tabindex="-1" role="dialog" style="width:80%; margin-left:10%">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar Exclusão</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Tem certeza de que deseja excluir este registro?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmDelete">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    var table = new DataTable('#listagem', {
        language: {
            url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json',
        },
    });

    $(document).ready(function () {
        $(".delete-button").click(function () {
            var usuario = $(this).data("usuario-id");

            $("#confirmDelete").data("usuario-id", usuario);
            $("#confirmDeleteModal").modal("show");
        });

        $("#confirmDelete").click(function () {
            var usuarioId = $(this).data("usuario-id");

            // Envia uma solicitação AJAX para excluir o registro com o ID da cláusula
            $.ajax({
                type: 'POST',
                url: '/Usuarios/Delete/' + usuarioId, // Verifique se o URL corresponde à sua rota de exclusão
                success: function (response) {

                    $("#confirmDeleteModal").modal("hide");
                    window.location.reload();

                },
                error: function (error) {
                    alert('Erro, exclusão não efetuada!');
                    console.error(error);
                }
            });
        });
    });
</script>







