@model Fornecedor
@{
    ViewData["Title"] = "Cadastro Fornecedores";
}
<style>
    fade-in-out {
        animation: fadeInOut 3s ease-in-out;
    }

    @@keyframes fadeInOut {
        0% {
            opacity: 0;
        }

        10% {
            opacity: 1;
        }

        90% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .error-fade-in-out {
        animation: errorFadeInOut 3s ease-in-out;
    }

    @@keyframes errorFadeInOut {
        0% {
            opacity: 0;
        }

        10% {
            opacity: 1;
        }

        90% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
</style>
<h5 style="margin-left: 11%">@ViewData["Title"]</h5>
<hr />
<div class="container" style="margin-left: 7%">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success">
                            @TempData["SuccessMessage"]
                        </div>
                    }
                    else if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                    <form asp-action="Create">
                        <div class="form-group">
                            <label asp-for="Nome">Nome</label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>

                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>

                            <label asp-for="Senha">Password</label>
                            <input type="password" asp-for="Senha" class="form-control" />
                            <span asp-validation-for="Senha" class="text-danger"></span>

                            <label asp-for="Status">Status</label>
                            <select asp-for="Status" class="form-control">
                                <option value="true">Ativo</option>
                                <option value="false">Inativo</option>
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>

                            <label asp-for="Tipo">Tipo</label>
                            <select asp-for="Tipo" class="form-control">
                                <option value="Pessoa Física">Pessoa Física</option>
                                <option value="Jurídico">Jurídico</option>
                                <option value="Admin">Admin</option>
                                <option value="Mobile">Mobile</option>
                            </select>
                            <span asp-validation-for="Tipo" class="text-danger"></span>

                            <label asp-for="SolicitouExclusao">Solicitou exclusão</label>
                            <select asp-for="SolicitouExclusao" class="form-control">
                                <option value="false">Não</option>
                                <option value="true">Sim</option>
                            </select>
                            <span asp-validation-for="SolicitouExclusao" class="text-danger"></span>

                            <label asp-for="MotivoExclusao">Motivo Exclusão</label>
                            <input asp-for="MotivoExclusao" class="form-control" />
                            <span asp-validation-for="MotivoExclusao" class="text-danger"></span>

                            <label asp-for="IDIdentificacao">ID de indicação</label>
                            <input asp-for="IDIdentificacao" class="form-control" />
                            <span asp-validation-for="IDIdentificacao" class="text-danger"></span>

                            <label asp-for="Avaliacao">Avaliação</label>
                            <input asp-for="Avaliacao" class="form-control" />
                            <span asp-validation-for="Avaliacao" class="text-danger"></span>
                           
                            <label asp-for="RG">RG</label>
                            <input asp-for="RG" class="form-control" />
                            <span asp-validation-for="RG" class="text-danger"></span>

                            <label asp-for="CPF">CPF</label>
                            <input asp-for="CPF" class="form-control" />
                            <span asp-validation-for="CPF" class="text-danger"></span>

                            <label asp-for="Telefone">Telefone</label>
                            <input asp-for="Telefone" class="form-control" />
                            <span asp-validation-for="Telefone" class="text-danger"></span>

                            <label asp-for="CEP">CEP</label>
                            <input asp-for="CEP" class="form-control" />
                            <span asp-validation-for="CEP" class="text-danger"></span>

                            <label asp-for="PaisID">País</label>
                            <select asp-for="PaisID" class="form-control">
                                @foreach (var pais in ViewBag.Paises)
                                {
                                    <option value="@pais.PaisID">
                                        @pais.Nome
                                    </option>
                                }
                            </select>
                            <span asp-validation-for="PaisID" class="text-danger"></span>

                            <label asp-for="EstadoID">Estado</label>
                            <select asp-for="EstadoID" class="form-control">
                                @foreach (var estado in ViewBag.Estados)
                                {
                                    <option value="@estado.EstadoID">
                                        @estado.Nome
                                    </option>
                                }
                            </select>
                            <span asp-validation-for="EstadoID" class="text-danger"></span>

                            <label asp-for="CidadeID">Cidade</label>
                            <select asp-for="CidadeID" class="form-control">
                                @foreach (var cidade in ViewBag.Cidades)
                                {
                                    <option value="@cidade.CidadeID">
                                        @cidade.Nome
                                    </option>
                                }
                            </select>
                            <span asp-validation-for="CidadeID" class="text-danger"></span>

                            <label asp-for="Bairro">Bairro</label>
                            <input asp-for="Bairro" class="form-control" />
                            <span asp-validation-for="Bairro" class="text-danger"></span>

                            <label asp-for="Endereco">Endereço</label>
                            <input asp-for="Endereco" class="form-control" />
                            <span asp-validation-for="Endereco" class="text-danger"></span>

                            <label asp-for="Numero">Número</label>
                            <input asp-for="Numero" class="form-control" />
                            <span asp-validation-for="Numero" class="text-danger"></span>

                            <label asp-for="RazaoSocial">Razão Social</label>
                            <input asp-for="RazaoSocial" class="form-control" />
                            <span asp-validation-for="RazaoSocial" class="text-danger"></span>

                            <label asp-for="NomeFantasia">Nome Fantasia</label>
                            <input asp-for="NomeFantasia" class="form-control" />
                            <span asp-validation-for="NomeFantasia" class="text-danger"></span>

                            <label asp-for="CNPJ">CNPJ</label>
                            <input asp-for="CNPJ" class="form-control" />
                            <span asp-validation-for="CNPJ" class="text-danger"></span>

                            <label asp-for="InscricaoEstadual">Inscrição Estadual</label>
                            <input asp-for="InscricaoEstadual" class="form-control" />
                            <span asp-validation-for="InscricaoEstadual" class="text-danger"></span>

                            <label asp-for="Banco">Banco</label>
                            <input asp-for="Banco" class="form-control" />
                            <span asp-validation-for="Banco" class="text-danger"></span>

                            <label asp-for="Agencia">Agência</label>
                            <input asp-for="Agencia" class="form-control" />
                            <span asp-validation-for="Agencia" class="text-danger"></span>

                            <label asp-for="NumeroConta">Número Conta</label>
                            <input asp-for="NumeroConta" class="form-control" />
                            <span asp-validation-for="NumeroConta" class="text-danger"></span>

                            <label asp-for="TipoConta">Tipo Conta</label>
                            <input asp-for="TipoConta" class="form-control" />
                            <span asp-validation-for="TipoConta" class="text-danger"></span>

                            <label asp-for="CPFCNPJResponsavelConta">CPF ou CNPJ Responsável Conta</label>
                            <input asp-for="CPFCNPJResponsavelConta" class="form-control" />
                            <span asp-validation-for="CPFCNPJResponsavelConta" class="text-danger"></span>

                            <label asp-for="Facebook">Facebook</label>
                            <input asp-for="Facebook" class="form-control" />
                            <span asp-validation-for="Facebook" class="text-danger"></span>

                            <label asp-for="Instagram">Instagram</label>
                            <input asp-for="Instagram" class="form-control" />
                            <span asp-validation-for="Instagram" class="text-danger"></span>

                            <label asp-for="Site">Site</label>
                            <input asp-for="Site" class="form-control" />
                            <span asp-validation-for="Site" class="text-danger"></span>

                            <label asp-for="NomeResponsavel">Nome Responsável</label>
                            <input asp-for="NomeResponsavel" class="form-control" />
                            <span asp-validation-for="NomeResponsavel" class="text-danger"></span>

                            <label asp-for="TelefoneResponsavel">Telefone Responsável</label>
                            <input asp-for="TelefoneResponsavel" class="form-control" />
                            <span asp-validation-for="TelefoneResponsavel" class="text-danger"></span>

                            <label asp-for="AceitaMultiplosEventos">Aceita Múltiplos Eventos</label>
                            <select asp-for="AceitaMultiplosEventos" class="form-control">
                                <option value="false">Não</option>
                                <option value="true">Sim</option>
                            </select>
                            <span asp-validation-for="AceitaMultiplosEventos" class="text-danger"></span>

                            <label asp-for="CategoriaID">Categoria</label>
                            <select asp-for="CategoriaID" class="form-control">
                                @foreach (var categoria in ViewBag.Categorias)
                                {
                                    <option value="@categoria.CategoriaID">
                                        @categoria.Descricao
                                    </option>
                                }
                            </select>
                            <span asp-validation-for="CidadeID" class="text-danger"></span>

                            <label asp-for="DisponivelParaRecebimento">Disponível para recebimento</label>
                            <input type="text" asp-for="DisponivelParaRecebimento" class="form-control" id="disponivelRecebimento" oninput="RetiraPonto('disponivelRecebimento')" />
                            <span asp-validation-for="DisponivelParaRecebimento" class="text-danger"></span>

                            <label asp-for="TotalRecebido">Total Recebido</label>
                            <input type="text" asp-for="TotalRecebido" class="form-control" id="totalRecebido" oninput="RetiraPonto('totalRecebido')" />
                            <span asp-validation-for="TotalRecebido" class="text-danger"></span>

                            <label asp-for="TotalAReceber">Total à Receber</label>
                            <input type="text" asp-for="TotalAReceber" class="form-control" id="totalAReceber" oninput="RetiraPonto('totalAReceber')" />
                            <span asp-validation-for="TotalAReceber" class="text-danger"></span>

                        </div>
                        <!-- Adicionar outros campos relevantes aqui, se necessário -->
                        <hr />
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Verifica se há uma mensagem de sucesso
        var successMessage = $(".alert.alert-success");

        // Se houver uma mensagem de sucesso, iniciar a animação de fade-in e depois fade-out
        if (successMessage.length > 0) {
            successMessage.addClass("fade-in-out");
            setTimeout(function () {
                successMessage.removeClass("fade-in-out").fadeOut(500);
            }, 3000); // 3000 milissegundos (3 segundos)
        }

        // Verifica se há uma mensagem de erro
        var errorMessage = $(".alert.alert-danger");

        // Se houver uma mensagem de erro, iniciar a animação de fade-in e depois fade-out
        if (errorMessage.length > 0) {
            errorMessage.addClass("error-fade-in-out");
            setTimeout(function () {
                errorMessage.removeClass("error-fade-in-out").fadeOut(500);
            }, 3000); // 3000 milissegundos (3 segundos)
        }
    });
</script>