@using HojeEuCaso.Dtos
@model PacoteComItensDoPacoteDto

@{
    ViewData["Title"] = "Monte seu Casamento";
}

<style>

    input[type=checkbox] {
        accent-color: red;
    }

    fade-in-out {
        animation: fadeInOut 3s ease-in-out;
    }

    @@keyframes fadeInOut {
        0% {
            opacity: 0;
        }

        10% {
            opacity: 1;
        }

        90% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .error-fade-in-out {
        animation: errorFadeInOut 3s ease-in-out;
    }

    @@keyframes errorFadeInOut {
        0% {
            opacity: 0;
        }

        10% {
            opacity: 1;
        }

        90% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
</style>
<h5 style="margin-left: 11%">@ViewData["Title"]</h5>
<hr />
<div class="container" style="margin-left: 7%">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h5>Geral</h5>
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success">
                            @TempData["SuccessMessage"]
                        </div>
                    }
                    else if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                    <form id="FormAdicionarServico" asp-action="AdicionarServico" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col">
                                <label asp-for="Estado">Selecionar Data</label>
                                <input type="date" asp-for="Estado" class="form-control" />
                                <span asp-validation-for="Estado" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="PaisID">Pais</label>
                                    <select asp-for="PaisID" class="form-control">
                                        @foreach (var pais in ViewBag.Paises)
                                        {
                                            <option value="@pais.PaisID">
                                                @pais.Nome
                                            </option>
                                        }
                                    </select>
                                    <span asp-validation-for="PaisID" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="Titulo">Estado</label>
                                    <div class="input-group" style="display: flex;">
                                        <select asp-for="Titulo" class="form-control">
                                            @foreach (var pacote in ViewBag.PacotesPorCategoria)
                                            {
                                                <option value="@pacote.Titulo">
                                                    @pacote.Titulo
                                                </option>
                                            }
                                        </select>
                                    </div>
                                    <span asp-validation-for="Titulo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="Titulo">Cidade</label>
                                    <div class="input-group" style="display: flex;">
                                        <select asp-for="Titulo" class="form-control">
                                            @foreach (var pacote in ViewBag.PacotesPorCategoria)
                                            {
                                                <option value="@pacote.Titulo">
                                                    @pacote.Titulo
                                                </option>
                                            }
                                        </select>
                                    </div>
                                    <span asp-validation-for="Titulo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label style="font-size:12px" asp-for="QtdMaximaPessoas">Número de convidados</label>
                                    <input asp-for="QtdMaximaPessoas" class="form-control" />
                                    <span asp-validation-for="QtdMaximaPessoas" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="Titulo">Escolha seus Fornecedores</label>
                                    <div class="input-group" style="display: flex;">
                                        <select asp-for="Titulo" class="form-control">
                                            @foreach (var pacote in ViewBag.PacotesPorCategoria)
                                            {
                                                <option value="@pacote.Titulo">
                                                    @pacote.Titulo
                                                </option>
                                            }
                                        </select>
                                    </div>
                                    <span asp-validation-for="Titulo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div style="margin-top:10px">
                            <button class="btn btn-danger">Montar Casamento</button>
                            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    

    $(document).ready(function () {
        // Verifica se há uma mensagem de sucesso
        var successMessage = $(".alert.alert-success");

        // Se houver uma mensagem de sucesso, iniciar a animação de fade-in e depois fade-out
        if (successMessage.length > 0) {
            successMessage.addClass("fade-in-out");
            setTimeout(function () {
                successMessage.removeClass("fade-in-out").fadeOut(500);
            }, 3000); // 3000 milissegundos (3 segundos)
        }

        // Verifica se há uma mensagem de erro
        var errorMessage = $(".alert.alert-danger");

        // Se houver uma mensagem de erro, iniciar a animação de fade-in e depois fade-out
        if (errorMessage.length > 0) {
            errorMessage.addClass("error-fade-in-out");
            setTimeout(function () {
                errorMessage.removeClass("error-fade-in-out").fadeOut(500);
            }, 3000); // 3000 milissegundos (3 segundos)
        }
    });

    
</script>
