@using HojeEuCaso.Dtos
@model PacoteComItensDoPacoteDto

@{
    ViewData["Title"] = "Adicionar Serviço";
}
<style>

    input[type=checkbox] {
        accent-color: red;
    }

    fade-in-out {
        animation: fadeInOut 3s ease-in-out;
    }

    @@keyframes fadeInOut {
        0% {
            opacity: 0;
        }

        10% {
            opacity: 1;
        }

        90% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .error-fade-in-out {
        animation: errorFadeInOut 3s ease-in-out;
    }

    @@keyframes errorFadeInOut {
        0% {
            opacity: 0;
        }

        10% {
            opacity: 1;
        }

        90% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
</style>
<h5 style="margin-left: 11%">@ViewData["Title"]</h5>
<hr />
<div class="container" style="margin-left: 7%">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h5>Geral</h5>
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success">
                            @TempData["SuccessMessage"]
                        </div>
                    }
                    else if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                    <form asp-action="AdicionarServico" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="Titulo">Título</label>
                                    <div class="input-group" style="display: flex;">
                                        <select asp-for="Titulo" class="form-control">
                                            @foreach (var pacote in ViewBag.PacotesPorCategoria)
                                            {
                                                <option value="@pacote.Titulo">
                                                    @pacote.Titulo
                                                </option>
                                            }
                                        </select>
                                    </div>
                                    <span asp-validation-for="Titulo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="Subtitulo">Subtítulo</label>
                                    <input asp-for="Subtitulo" class="form-control" />
                                    <span asp-validation-for="Subtitulo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label style="font-size:12px" asp-for="QtdMaximaEventosDia">Quantidade máxima deste evento por dia</label>
                                    <input asp-for="QtdMaximaEventosDia" class="form-control" />
                                    <span asp-validation-for="QtdMaximaEventosDia" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label style="font-size:12px" asp-for="QtdMaximaPessoas">Número de convidados</label>
                                    <input asp-for="QtdMaximaPessoas" class="form-control" />
                                    <span asp-validation-for="QtdMaximaPessoas" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="Pais.PaisID">Pais</label>
                                    <select asp-for="Pais.PaisID" class="form-control">
                                        @foreach (var pais in ViewBag.Paises)
                                        {
                                            <option value="@pais.PaisID">
                                                @pais.Nome
                                            </option>
                                        }
                                    </select>
                                    <span asp-validation-for="Pais.PaisID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="EstadoID">Estado</label>
                                    <select asp-for="EstadoID" class="form-control">
                                        @foreach (var estado in ViewBag.Estados)
                                        {
                                            <option value="@estado.EstadoID">
                                                @estado.Nome
                                            </option>
                                        }
                                    </select>
                                    <span asp-validation-for="EstadoID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="CidadeID">Cidade</label>
                                    <select asp-for="CidadeID" class="form-control">
                                        @foreach (var cidade in ViewBag.Cidades)
                                        {
                                            <option value="@cidade.CidadeID">
                                                @cidade.Nome
                                            </option>
                                        }
                                    </select>
                                    <span asp-validation-for="CidadeID" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Ativo">Ativo</label>
                            <div>
                                <input type="checkbox" asp-for="Ativo" checked />
                                <span asp-validation-for="Ativo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="greyFontStyle">Itens</span>
                        </div>

                        <div class="itens-container">
                            <!-- Conteúdo dos pares de inputs será adicionado aqui -->
                        </div>

                        <div class="form-group">
                            <a href="javascript:void(0)" style="color:red" onclick="adicionarItem()"><i class="fa fa-plus-circle" style="margin-right:5px" aria-hidden="true"></i><span class="greyFontStyle">Adicionar</span></a>
                        </div>

                        <div class="card shadow" style="margin-top:10px">
                            <div class="card-body">
                                <h5>Fotos e Vídeos</h5>

                                <div class="form-group">
                                    <label for="Foto" class="btn btn-outline-danger mb-2">
                                        Adicionar Foto
                                        <input type="file" asp-for="Foto" style="display: none;" id="Foto" onchange="fileSelected('Foto')">
                                    </label>

                                    <label for="Video" class="btn btn-outline-danger mb-2">
                                        Adicionar Vídeo
                                        <input type="file" asp-for="Video" style="display: none;" id="Video" onchange="fileSelected('Video')">
                                    </label>

                                    <br />
                                    <span id="FotoSelected" style="display: none; font-size:10px">Foto: <span id="FotoFileName" style="font-size:10px"></span></span>
                                    <span asp-validation-for="Foto" class="text-danger" style="font-size:10px"></span>
                                    <br />
                                    <span id="VideoSelected" style="display: none; font-size:10px">Vídeo: <span id="VideoFileName" style="font-size:10px"></span></span>
                                    <span asp-validation-for="Video" class="text-danger" style="font-size:10px"></span>
                                </div>

                                <span class="greyFontStyle">Vídeo de no máximo 10MB</span>
                            </div>
                        </div>

                        <div class="card shadow" style="margin-top:10px">
                            <div class="card-body">
                                <h5>Informações sobre valores</h5>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label asp-for="Preco">Preço</label>
                                            <span class="greyFontStyle">(Não visível para o usuário)</span>
                                            <input asp-for="Preco" class="form-control" id="inputPrecoServico" oninput="RetiraPonto('inputPrecoServico')" />
                                            <span asp-validation-for="Preco" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label asp-for="ReajusteAnualPorcentagem">Reajuste anual (Em %)</label>
                                            <input asp-for="ReajusteAnualPorcentagem" class="form-control" />
                                            <span asp-validation-for="ReajusteAnualPorcentagem" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <span class="greyFontStyle">Descontos por dia (Em %)</span>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label asp-for="DescontoSegundaFeira">Segunda Feira</label>
                                            <input asp-for="DescontoSegundaFeira" class="form-control" />
                                            <span asp-validation-for="DescontoSegundaFeira" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label asp-for="DescontoTercaFeira">Terça Feira</label>
                                            <input asp-for="DescontoTercaFeira" class="form-control" />
                                            <span asp-validation-for="DescontoTercaFeira" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label asp-for="DescontoQuartaFeira">Quarta Feira</label>
                                            <input asp-for="DescontoQuartaFeira" class="form-control" />
                                            <span asp-validation-for="DescontoQuartaFeira" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label asp-for="DescontoQuintaFeira">Quinta Feira</label>
                                            <input asp-for="DescontoQuintaFeira" class="form-control" />
                                            <span asp-validation-for="DescontoQuintaFeira" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label asp-for="DescontoSextaFeira">Sexta Feira</label>
                                            <input asp-for="DescontoSextaFeira" class="form-control" />
                                            <span asp-validation-for="DescontoSextaFeira" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label asp-for="DescontoSabado">Sábado</label>
                                            <input asp-for="DescontoSabado" class="form-control" />
                                            <span asp-validation-for="DescontoSabado" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label asp-for="DescontoDomingo">Domingo</label>
                                            <input asp-for="DescontoDomingo" class="form-control" />
                                            <span asp-validation-for="DescontoDomingo" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                            </div>
                        </div>
                        <div style="margin-top:10px">
                            <button type="submit" class="btn btn-danger">Salvar</button>
                            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Verifica se há uma mensagem de sucesso
        var successMessage = $(".alert.alert-success");

        // Se houver uma mensagem de sucesso, iniciar a animação de fade-in e depois fade-out
        if (successMessage.length > 0) {
            successMessage.addClass("fade-in-out");
            setTimeout(function () {
                successMessage.removeClass("fade-in-out").fadeOut(500);
            }, 3000); // 3000 milissegundos (3 segundos)
        }

        // Verifica se há uma mensagem de erro
        var errorMessage = $(".alert.alert-danger");

        // Se houver uma mensagem de erro, iniciar a animação de fade-in e depois fade-out
        if (errorMessage.length > 0) {
            errorMessage.addClass("error-fade-in-out");
            setTimeout(function () {
                errorMessage.removeClass("error-fade-in-out").fadeOut(500);
            }, 3000); // 3000 milissegundos (3 segundos)
        }
    });

    function fileSelected(inputId) {
        const fileInput = document.getElementById(inputId);
        const fileNameSpan = document.getElementById(inputId + 'FileName');
        const selectedSpan = document.getElementById(inputId + 'Selected');

        if (fileInput.files.length > 0) {
            fileNameSpan.innerText = fileInput.files[0].name;
            selectedSpan.style.display = 'inline';
        } else {
            fileNameSpan.innerText = '';
            selectedSpan.style.display = 'none';
        }
    }

    var itemCount = -1;

    function adicionarItem() {
        itemCount++;

        var itensContainer = document.querySelector('.itens-container');
        var div = document.createElement("div");
        div.classList.add("item-row");

        var descricaoLabel = document.createElement("label");
        descricaoLabel.innerText = "Descrição do Item:";
        div.appendChild(descricaoLabel);

        var descricaoInput = document.createElement("input");
        descricaoInput.type = "text";
        descricaoInput.name = "ItensDePacotes[" + itemCount + "].Descricao";
        descricaoInput.classList.add("form-control");
        div.appendChild(descricaoInput);

        var quantidadeLabel = document.createElement("label");
        quantidadeLabel.innerText = "Quantidade do Item:";
        div.appendChild(quantidadeLabel);

        var quantidadeInput = document.createElement("input");
        quantidadeInput.type = "number";
        quantidadeInput.name = "ItensDePacotes[" + itemCount + "].Quantidade";
        quantidadeInput.classList.add("form-control");
        div.appendChild(quantidadeInput);

        var removerBotao = document.createElement("a");
        removerBotao.href = "javascript:void(0)";
        removerBotao.style.color = "red";
        removerBotao.innerHTML = "<i class='fa fa-minus-circle' style='margin-right:5px' aria-hidden='true'></i><span class='greyFontStyle'>Remover</span>";
        removerBotao.onclick = function () {
            removerItem(div);
        };
        div.appendChild(removerBotao);

        itensContainer.appendChild(div);
    }

    function removerItem(item) {
        var itensContainer = document.querySelector('.itens-container');
        itensContainer.removeChild(item);
    }

</script>
