@using HojeEuCaso.Dtos
@model FornecedorDto

@{
    ViewData["Title"] = "Editar Perfil";
}
<style>

    input[type=checkbox] {
        accent-color: red;
    }

    fade-in-out {
        animation: fadeInOut 3s ease-in-out;
    }

    @@keyframes fadeInOut {
        0% {
            opacity: 0;
        }

        10% {
            opacity: 1;
        }

        90% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .error-fade-in-out {
        animation: errorFadeInOut 3s ease-in-out;
    }

    @@keyframes errorFadeInOut {
        0% {
            opacity: 0;
        }

        10% {
            opacity: 1;
        }

        90% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
</style>
<h5 style="margin-left: 11%">@ViewData["Title"]</h5>
<hr />
<div class="container" style="margin-left: 7%">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h5>Geral</h5>
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success">
                            @TempData["SuccessMessage"]
                        </div>
                    }
                    else if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                    <form asp-action="EditarPerfil" enctype="multipart/form-data">

                        <div class="row">
                            <div class="col d-flex flex-column">
                                <div id="visualizacaoFoto">
                                    @if (!string.IsNullOrEmpty(ViewBag.FotoExistente))
                                    {
                                        <img src="@Url.Content(ViewBag.FotoExistente)" alt="Foto Fornecedor" class="d-block w-50 center-image" style="margin-left:25%" />
                                    }
                                </div>
                                <span id="FotoSelected" style="display: none; font-size:10px;"><span style="font-weight: bold">Foto Selecionada:</span> <span id="FotoFileName" style="font-size:10px"></span></span>
                                <span asp-validation-for="Foto" class="text-danger" style="font-size:10px"></span>
                                <label for="Foto" style="width:25%; margin-top:15px; align-self:center; font-size:10px" class="btn btn-outline-danger mb-2">
                                    Alterar Foto
                                    <input type="file" asp-for="Foto" style="display: none;" id="Foto" onchange="fileSelected('Foto')">
                                </label>
                            </div>
                        </div>


                        <div class="row" style="display:none">
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="FornecedorID">ID</label>
                                    <input asp-for="FornecedorID" class="form-control" value="@ViewBag.Fornecedor.FornecedorID" />
                                    <span asp-validation-for="FornecedorID" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="display:none">
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="CaminhoFoto">CaminhoFoto</label>
                                    <input asp-for="CaminhoFoto" class="form-control" value="@ViewBag.Fornecedor.CaminhoFoto" />
                                    <span asp-validation-for="CaminhoFoto" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="display:none">
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="CategoriaID">CategoriaID</label>
                                    <input asp-for="CategoriaID" class="form-control" value="@ViewBag.Fornecedor.CategoriaID" />
                                    <span asp-validation-for="CategoriaID" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label style="font-size:12px" asp-for="Nome">Nome</label>
                                    <input asp-for="Nome" class="form-control" value="@ViewBag.Fornecedor.Nome" />
                                    <span asp-validation-for="Nome" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label style="font-size:12px" asp-for="Email">E-mail</label>
                                    <input asp-for="Email" class="form-control" value="@ViewBag.Fornecedor.Email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label style="font-size:12px" asp-for="Senha">Alterar Senha</label>
                                    <input type="password" asp-for="Senha" class="form-control" value="@ViewBag.Fornecedor.Senha" />
                                    <span asp-validation-for="Senha" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label style="font-size:12px" id="confirmacaoSenha">Confirmar Alteração de Senha</label>
                                    <input type="password" class="form-control" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label style="font-size:12px" asp-for="RG">RG</label>
                                    <input asp-for="RG" class="form-control" value="@ViewBag.Fornecedor.RG" />
                                    <span asp-validation-for="RG" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label style="font-size:12px" asp-for="CPF">CPF</label>
                                    <input asp-for="CPF" class="form-control" value="@ViewBag.Fornecedor.CPF" />
                                    <span asp-validation-for="CPF" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label style="font-size:12px" asp-for="Telefone">Telefone</label>
                                    <input asp-for="Telefone" class="form-control" value="@ViewBag.Fornecedor.Telefone" />
                                    <span asp-validation-for="Telefone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label style="font-size:12px" asp-for="NomeFantasia">Nome Fantasia</label>
                                    <input asp-for="NomeFantasia" class="form-control" value="@ViewBag.Fornecedor.NomeFantasia" />
                                    <span asp-validation-for="NomeFantasia" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label style="font-size:12px" asp-for="CEP">CEP</label>
                                    <input asp-for="CEP" class="form-control" value="@ViewBag.Fornecedor.CEP" />
                                    <span asp-validation-for="CEP" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label style="font-size:12px" asp-for="PaisID">País</label>
                                    <select asp-for="PaisID" class="form-control">
                                        @foreach (var pais in ViewBag.Paises)
                                        {
                                            var isSelected = pais.PaisID == ViewBag.Pais.PaisID ? "selected" : "";

                                            if (isSelected == "selected")
                                            {
                                                <option value="@pais.PaisID" selected>
                                                    @pais.Nome
                                                </option>
                                            }
                                            else
                                            {
                                                <option value="@pais.PaisID">
                                                    @pais.Nome
                                                </option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="PaisID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label style="font-size:12px" asp-for="EstadoID">Estado</label>
                                    <select asp-for="EstadoID" class="form-control">
                                        @foreach (var estado in ViewBag.Estados)
                                        {
                                            var isSelected = estado.EstadoID == ViewBag.Estado.EstadoID ? "selected" : "";

                                            if (isSelected == "selected")
                                            {
                                                <option value="@estado.EstadoID" selected>
                                                    @estado.Nome
                                                </option>
                                            }
                                            else
                                            {
                                                <option value="@estado.EstadoID">
                                                    @estado.Nome
                                                </option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="EstadoID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label style="font-size:12px" asp-for="CidadeID">Cidade</label>
                                    <select asp-for="CidadeID" class="form-control">
                                        @foreach (var Cidade in ViewBag.Cidades)
                                        {
                                            var isSelected = Cidade.CidadeID == ViewBag.Cidade.CidadeID ? "selected" : "";

                                            if (isSelected == "selected")
                                            {
                                                <option value="@Cidade.CidadeID" selected>
                                                    @Cidade.Nome
                                                </option>
                                            }
                                            else
                                            {
                                                <option value="@Cidade.CidadeID">
                                                    @Cidade.Nome
                                                </option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="CidadeID" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label style="font-size:12px" asp-for="Bairro">Bairro</label>
                                    <input asp-for="Bairro" class="form-control" value="@ViewBag.Fornecedor.Bairro" />
                                    <span asp-validation-for="Bairro" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label style="font-size:12px" asp-for="Endereco">Endereço</label>
                                    <input asp-for="Endereco" class="form-control" value="@ViewBag.Fornecedor.Endereco" />
                                    <span asp-validation-for="Endereco" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label style="font-size:12px" asp-for="Facebook">Facebook</label>
                                    <input asp-for="Facebook" class="form-control" value="@ViewBag.Fornecedor.Facebook" />
                                    <span asp-validation-for="Facebook" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label style="font-size:12px" asp-for="Instagram">Instagram</label>
                                    <input asp-for="Instagram" class="form-control" value="@ViewBag.Fornecedor.Instagram" />
                                    <span asp-validation-for="Instagram" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label style="font-size:12px" asp-for="Site">Site</label>
                                    <input asp-for="Site" class="form-control" value="@ViewBag.Fornecedor.Site" />
                                    <span asp-validation-for="Site" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label style="font-size:12px" asp-for="NomeResponsavel">Nome do Responsável</label>
                                    <input asp-for="NomeResponsavel" class="form-control" value="@ViewBag.Fornecedor.NomeResponsavel" />
                                    <span asp-validation-for="NomeResponsavel" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label style="font-size:12px" asp-for="TelefoneResponsavel">Telefone do Responsável</label>
                                    <input asp-for="TelefoneResponsavel" class="form-control" value="@ViewBag.Fornecedor.TelefoneResponsavel" />
                                    <span asp-validation-for="TelefoneResponsavel" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="AceitaMultiplosEventos">Eu aceito múltiplos eventos no mesmo dia</label>
                                    <div>
                                        <input type="checkbox" asp-for="AceitaMultiplosEventos" checked="ViewBag.PacoteAtual.AceitaMultiplosEventos" />
                                        <span asp-validation-for="AceitaMultiplosEventos" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label style="font-size:12px" asp-for="Banco">Banco</label>
                                    <select asp-for="Banco" class="form-control">
                                        @*@foreach (var Cidade in ViewBag.Cidades)
                                        {
                                        var isSelected = Cidade.CidadeID == ViewBag.Cidade.CidadeID ? "selected" : "";

                                        if (isSelected == "selected")
                                        {
                                        <option value="@Cidade.CidadeID" selected>
                                        @Cidade.Nome
                                        </option>
                                        }
                                        else
                                        {
                                        <option value="@Cidade.CidadeID">
                                        @Cidade.Nome
                                        </option>
                                        }
                                        }*@
                                        <option>Banco 1</option>
                                        <option>Banco 2</option>
                                        <option>Banco 3</option>
                                    </select>
                                    <span asp-validation-for="Banco" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label style="font-size:12px" asp-for="Agencia">Agência</label>
                                    <input asp-for="Agencia" class="form-control" value="@ViewBag.Fornecedor.Agencia" />
                                    <span asp-validation-for="Agencia" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label style="font-size:12px" asp-for="NumeroConta">Conta</label>
                                    <input asp-for="NumeroConta" class="form-control" value="@ViewBag.Fornecedor.NumeroConta" />
                                    <span asp-validation-for="NumeroConta" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label style="font-size:12px" asp-for="TipoConta">Tipo de Conta</label>
                                    <select asp-for="TipoConta" class="form-control">
                                        <option>Conta Corrente PF</option>
                                        <option>Conta Corrente PJ</option>
                                        <option>Poupança</option>
                                    </select>
                                    <span asp-validation-for="TipoConta" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label style="font-size:12px" asp-for="ResponsavelConta">Titular da Conta</label>
                                    <input asp-for="ResponsavelConta" class="form-control" value="@ViewBag.Fornecedor.ResponsavelConta" />
                                    <span asp-validation-for="ResponsavelConta" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label style="font-size:12px" asp-for="CPFCNPJResponsavelConta">CPF / CNPJ do Titular</label>
                                    <input asp-for="CPFCNPJResponsavelConta" class="form-control" value="@ViewBag.Fornecedor.CPFCNPJResponsavelConta" />
                                    <span asp-validation-for="CPFCNPJResponsavelConta" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="SolicitouExclusao">Solicitar Exclusão de Conta</label>
                                    <div>
                                        <input type="checkbox" asp-for="SolicitouExclusao" checked="ViewBag.PacoteAtual.SolicitouExclusao" />
                                        <span asp-validation-for="SolicitouExclusao" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="SolicitouExclusao">Mostrar apenas em orçamentos com os seguintes fornecedores</label>
                                    <div>
                                        <input type="checkbox" asp-for="SolicitouExclusao" checked="ViewBag.PacoteAtual.SolicitouExclusao" />
                                        <span asp-validation-for="SolicitouExclusao" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div style="margin-top:10px">
                            <button type="submit" class="btn btn-danger">Salvar</button>
                            <a asp-action="Profile" class="btn btn-secondary">Voltar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        // Verifica se há uma mensagem de sucesso
        var successMessage = $(".alert.alert-success");

        // Se houver uma mensagem de sucesso, iniciar a animação de fade-in e depois fade-out
        if (successMessage.length > 0) {
            successMessage.addClass("fade-in-out");
            setTimeout(function () {
                successMessage.removeClass("fade-in-out").fadeOut(500);
            }, 3000); // 3000 milissegundos (3 segundos)
        }

        // Verifica se há uma mensagem de erro
        var errorMessage = $(".alert.alert-danger");

        // Se houver uma mensagem de erro, iniciar a animação de fade-in e depois fade-out
        if (errorMessage.length > 0) {
            errorMessage.addClass("error-fade-in-out");
            setTimeout(function () {
                errorMessage.removeClass("error-fade-in-out").fadeOut(500);
            }, 3000); // 3000 milissegundos (3 segundos)
        }
    });

    function fileSelected(inputId) {
        const fileInput = document.getElementById(inputId);
        const fileNameSpan = document.getElementById(inputId + 'FileName');
        const selectedSpan = document.getElementById(inputId + 'Selected');

        if (inputId == 'Foto') {
            var visualizacaoFoto = document.getElementById('visualizacaoFoto');
            visualizacaoFoto.style.display = 'none';
        }

        if (fileInput.files.length > 0) {
            fileNameSpan.innerText = fileInput.files[0].name;
            selectedSpan.style.display = 'inline';
        } else {
            fileNameSpan.innerText = '';
            selectedSpan.style.display = 'none';
        }
    }

</script>
